@import url("https://fonts.googleapis.com/css?family=Poppins:700|Spline%20Sans:400");

body {
  font-family: "Spline Sans";
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}
html {
  font-size: 100%;
}
h1 {
  font-size: 4.21rem;
}
h2 {
  font-size: 3.158rem;
}
h3 {
  font-size: 2.369rem;
}
h4 {
  font-size: 1.777rem;
}
h5 {
  font-size: 1.333rem;
}
small {
  font-size: 0.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #111c1a;
    --background: #f0f9f8;
    --background-accent: #c1f7ef;
    --primary: #18675b;
    --secondary: #54ab9f;
    --accent: #00f0cc;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #e3eeec;
    --background: #06100f;
    --background-accent: #0c3b34;
    --primary: #97e7db;
    --secondary: #53aa9e;
    --accent: #0fffdc;
  }
}

.applist {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 15px;
}

.gameElement {
  width: 300px;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}

.gameElement img {
  width: 100%;
  position: absolute;
  z-index: -2;
  background-size: fit;
}

.gameElement .gameOpt {
  position: absolute;
  width: 95%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2.5%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.blank {
  display: none;
}

.app {
  height: 90%;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.app iframe {
  border: rgba(255, 255, 255, 0.2) solid 2px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.app .controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#headbox {
  background: linear-gradient(to right, var(--primary), var(--secondary));
}

#headbox #learnmore {
  color: white;
}

/* start of nova.css */
button {
  user-select: none;
  color: var(--text);
  border: none;
  border-radius: 6px;
  transition: box-shadow 250ms ease-in-out;
  background: var(--secondary);
}

button:hover {
  cursor: pointer;
}

button:disabled {
  filter: grayscale(100);
  cursor: not-allowed;
}

a {
  color: var(--text);
}

.transition-main {
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(0);
  opacity: 1;
}

html.is-animating .transition-main {
  opacity: 0;
  transform: translateY(1rem);
}

html.is-leaving .transition-main {
  transform: translateY(-1rem);
}

#themeArea {
  margin: 0 auto;
  width: 60%;
  height: 45%;
}

#themeChooser {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 80px);
  gap: 15px;
}

/* Mobile CSS!!! */
@media (pointer: coarse) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins";
    font-weight: 700;
  }

  html {
    font-size: 100%;
  } /* 16px */

  h1 {
    font-size: 2.489rem; /* 39.84px */
  }

  h2 {
    font-size: 2.074rem; /* 33.12px */
  }

  h3 {
    font-size: 1.728rem; /* 27.68px */
  }

  h4 {
    font-size: 1.44rem; /* 23.04px */
  }

  h5 {
    font-size: 1.2rem; /* 19.2px */
  }

  small {
    font-size: 0.833rem; /* 13.28px */
  }

  #themeArea {
    margin: 0 auto;
    width: 90%;
    height: 45%;
  }

  nav {
    flex-direction: row;
    justify-content: start;
    align-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    height: 48px;
    width: calc(100% - 0.4rem);
    bottom: 0;
  }

  #user {
    flex-direction: row;
    gap: 0.2rem;
    user-select: none;
  }

  #user img {
    height: 100%;
    border-radius: 10px;
  }

  nav #buttons {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    height: 100%;
    text-align: center;
  }

  nav button {
    height: 100%;
  }

  button a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
  }

  nav #buttons button a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
  }

  main {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: calc(100% - 71px);
    place-items: center top;
    text-align: center;
  }

  #headbox {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    position: relative;
  }

  #headbox #title {
    font-size: 1.777rem;
  }

  #headbox #description {
    width: 100%;
    margin: 10px auto;
  }
}

/* Desktop CSS!!! */
@media (pointer: fine), (pointer: none) {
  :root {
    --nav-width: 9.515%;
  }
  body {
    background: var(--background) center center;
    background-size: cover;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    margin: 0.2rem;
    width: var(--nav-width);
    height: calc(100% - 0.8rem);
    position: relative;
    background: var(--background-accent);
  }

  nav button {
    width: 95%;
    height: 3.5rem;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background 150ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  nav button:hover {
    background: rgba(255, 255, 255, 0.25);
  }

  nav button img {
    height: calc(100% - 0.2rem);
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    padding: 0.1rem;
  }

  nav .bottom {
    position: absolute;
    bottom: 10px;
  }

  main {
    width: calc(99.5% - var(--nav-width));
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--background);
    display: grid;
    place-items: center top;
    text-align: center;
    padding: 0;
  }

  #headbox {
    width: 60%;
    height: 45.663%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    position: relative;
  }

  #headbox #title {
    position: absolute;
    top: -10px;
    left: 25px;
  }

  #headbox #description {
    position: absolute;
    bottom: 5px;
    left: 25px;
    width: 75%;
    text-align: left;
  }

  #headbox #learnmore {
    position: absolute;
    bottom: 20px;
    right: 25px;
    width: auto;
    height: auto;
    text-decoration: none;
  }
}
